body {
    background-image: url('gi.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: repeat; 
            height: 100vh; /* Full height */
            margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: #ffffff;
    margin-top: 20px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.calendar {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.calendar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.calendar a:hover {
    background-color: #575757;
}

.calendar a.active {
    background-color:  rgb(207, 46, 154);
    color: white;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #ddd; /* Border around the entire table */
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd; /* Border around each cell */
}

th {
    background-color:  rgb(207, 46, 154);
    color: white;
    border: 1px solid #bbb; /* Border around header cells */
}

tr:hover {
    background-color: #575757;
}

td {
    color: #dddddd;
    line-height: 1.6;
}

