body {
    background-image: url('gi.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: repeat; 
            height: 100vh; /* Full height */
            margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.main a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.main a:hover {
    background-color: #575757;
}

.main a.active {
    background-color:  rgb(207, 46, 154);
    color: white;
}

.container {
    margin: 20px auto;
    width: 30%;
    text-align: left;
    color: #dddddd;
}

h1 {
    color: #ffffff;
    margin-top: 20px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea, select {
    background-color: #333;
    border: 1px solid #575757;
    color: #dddddd;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: rgb(207, 46, 154);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4a2a6e;
}

#confirmation-message {
    margin-top: 20px;
    font-size: 18px;
}
